<mat-toolbar color="primary">
  <!-- Logo and Title -->
  <span class="toolbar-title">Matrimony Model</span>

</mat-toolbar>
<div class="content">
  <mat-card class="center-card">
     <app-card  [parentSubject]="parentSubject">
  </app-card>

  <div style="text-align: center; margin-top: 50px;" >
    <button mat-raised-button color="warn"  (click)="NotInterested()">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-raised-button color="accent" style="margin-right: 10px;" (click)="Shortlisted()">
      <mat-icon>thumb_up</mat-icon>
      Shortlist
    </button>
    <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="Interested()">
      <mat-icon>check_circle</mat-icon>
    </button>
  
  
 
  </div>
  </mat-card>


</div>


